<!-- _includes/form.html -->
<div>
  <div class="col1">
    <form action="//formspree.io/contact@phonations.com" method="POST">
      <div>
        <label>Name<span class="required">*</span></label>
        <input type="text" name="name" class="required" placeholder="Your lovely Name" required>
      </div>
      <div>
        <label>Email<span class="required">*</span></label>
        <input type="email" name="_replyto" class="required" placeholder="Email" data-validation="email" required>
      </div>
      <div>
        <label>Message<span class="required">*</span></label>
        <textarea name="content" cols="1" rows="5" class="required" placeholder="Tell us everything" required></textarea>
      </div>
      <button type="submit">Send</button>
      <input type="hidden" name="_next" value="#contact">
    </form>
  </div>
  <div class="col2">
    <h4>Where to meet</h4>
    <p>31 rue des Capucins<br>69001 Lyon<br>France</p>
    <h4>New business</h4>
    <a href="mailto:contact@phonations.com">contact@phonations.com</a>
    <h4>Employment</h4>
    <a href="mailto:jobs@phonations.com">jobs@phonations.com</a>
  </div>
</div>

<div id="social_module">
    <ul>
        <li><a href="http://www.facebook.com/phonations"><i class="fa fa-facebook"></i></a></li>
        <li><a href="http://twitter.com/phonations"><i class="fa fa-twitter"></i></a></li>
        <li><a href="http://www.linkedin.com/company/phonations"><i class="fa fa-linkedin"></i></a></li>
    </ul>
</div>
