<div class="portrait">
  <p>The most important thing to us is<br>building product people love.</p>
  <ul>
    <li>
      <img width="220" height="180" src="/images/martin.png">
      <br>
      <span class="name">Martin Delille</span>
      <br>
      <span class="function">Founder</span>
    </li>
    <li>
      <img width="220" height="180" src="/images/guy.png">
      <br>
      <span class="name">Guy Desdames</span>
      <br>
      <span class="function">Artistic director</span>
    </li>
    <li>
      <img width="220" height="180" src="/images/gregoire.png">
      <br>
      <span class="name">Grégoire Parcollet</span>
      <br>
      <span class="function">Key partner</span>
    </li>
    <li>
      <img width="220" height="180" src="/images/thomas.png">
      <br>
      <span class="name">Thomas Ayoub</span>
      <br>
      <span class="function">Developer</span>
    </li>
  </ul>
</div>
