<!-- _includes/portrait.html -->
<div class="portrait">
  <ul>
    <li>
      <img width="220" height="180" src="/images/martin.png" alt="Martin">
      <br>
      <span class="name">Martin Delille</span>
      <br>
      <span class="function"> {{ site.t[page.lang].founder }} </span>
    </li>
    <li>
      <img width="220" height="180" src="/images/guy.png" alt="Guy">
      <br>
      <span class="name">Guy Desdames</span>
      <br>
      <span class="function"> {{ site.t[page.lang].artistic-director }} </span>
    </li>
    <li>
      <img width="220" height="180" src="/images/gregoire.png" alt="Grégoire">
      <br>
      <span class="name">Grégoire Parcollet</span>
      <br>
      <span class="function"> {{ site.t[page.lang].key-partner }} </span>
    </li>
    <li>
      <img width="220" height="180" src="/images/thomas.png" alt="Thomas">
      <br>
      <span class="name">Thomas Ayoub</span>
      <br>
      <span class="function"> {{ site.t[page.lang].developer }} </span>
    </li>
  </ul>
</div>
