/**
 * Home styles
 */

#home {
  background-image: url(/images/home-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: block;
}

#parrot {
  position: relative;
  background-color: blue;
  width: 350px;
  height: 70%;
  margin: 0px auto;

  #micstick {
    background-image: url('/images/micstick.png');
    background-repeat: repeat-y;
    display: block;
    left: 102px;
    right: 102px;
    top: 0px;
    bottom: 260px;
    position: absolute;
  }

  img {
    left: 0px;
    bottom: 0px;
    position: absolute;
  }

}

#roles {
  color: $white;
  font-size: 36pt;
  line-height: 70px;
}

#how {
  background-image: url(/images/homebutton-pink.png);
  width: 130px;
  height: 30px;
  padding: 10px 20px;
  margin: 0px auto 5px;
  margin-left: -75px;
  position: absolute;
  left: 50%;
  bottom: 0px;

  a {
    color: $white;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
  }
}
