/**
 * Home styles
 */
#home {
  background-image: url(/images/home-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  display: block;
}

#how {
  background-image: url(/images/homebutton-pink.png);
  width: 130px;
  height: 30px;
  padding: 10px 20px;
  margin: 0px auto 5px;
  margin-left: -75px;
  position: absolute;
  left: 50%;
  bottom: 0px;

  a {
    color: $white;
    text-transform: uppercase;
    font-size: 10pt;
    letter-spacing: 1px;
  }
}
